body{
    font-family: 'Roboto Slab', serif;
}

.text-bold{
    font-weight: bold;
}

.primary-btn, .main-btn{
    font-size: 14px !important;
font-weight: 600 !important;
letter-spacing: 1px !important;
display: inline-block !important;
padding: 10px 32px !important;
border-radius: 50px !important;
transition: 0.5s !important;
margin: 0 20px 20px 0;
color: #000 !important;
border: 1px solid black !important;
}

.primary-btn:hover{
    background: #f94040 !important;
    color: white !important;
    border: 1px solid #f94040 !important;

}


.main-btn{
    background: white !important;
    border: 1px solid white !important;

}


.btn-get-started{
    background: #f94040 !important;
border: 2px solid #f94040 !important;
color: white !important ;
font-size: 14px;
font-weight: 600;
letter-spacing: 1px;
display: inline-block;
padding: 10px 32px;
border-radius: 50px;
transition: 0.5s;
margin: 0 20px 20px 0;
cursor: pointer;
}

.btn-get-started:hover{
    background: none;
border-color: #f94040;
color: #f94040 !important;
}

#header{
    /* background: transparent !important; */
}


.section-header p{
    width: 100%;
}

.inline-block{
    display: inline-block !important;
}

.see-example img{
    border-radius: 12px;
}

.price{
    background: #ccd6f0;
    padding: 2px 30px;
    border-radius: 20px;
    margin: 7px;
    margin-left: 44px;
    display: inline-block;

}

.text-bold{
    font-weight: bold;
}

.estimate{
    padding: 100px 2px;
}



.slider {
    -webkit-appearance: none;
    /* width: 100%;
    height: 25px;
    background: #d3d3d3; */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 75%;
    height: 13%;
    /* margin: 0 auto; */
    background: #f3e2e2;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    background: #d84c4c;
    cursor: pointer;
  }


  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #d84c4c;
    cursor: pointer;
  }

  .range-amount{
    display: block;
    text-align: center;
    width: 75%;
    margin: 15px;
}

#services{
    box-shadow: none;

}


.auth-content{

}

