
html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "space ranger";
    src: url("/css/fonts/space-ranger/spaceranger.eot");
    src: url("/css/fonts/space-ranger/spaceranger.woff") format("woff"),
    url("/css/fonts/space-ranger/spaceranger.otf") format("opentype"),
    url("/css/fonts/space-ranger/spaceranger.ttf") format("opentype"),
    url("/css/fonts/space-ranger/spaceranger.svg#spacre-ranger") format("svg");
    }

    @font-face {
        font-family: "space comics";
        src: url("/css/fonts/space_comics/Space_Comics.eot");
        src: url("/css/fonts/space_comics/Space_Comics.woff") format("woff"),
        url("/css/fonts/space_comics/Space_Comics.otf") format("opentype"),
        url("/css/fonts/space_comics/Space_Comics.ttf") format("opentype"),
        url("/css/fonts/space_comics/Space_Comics.svg#spacre-ranger") format("svg");
    }
  *{
      margin:0;
      padding: 0;
  }

  a, a:hover{
      color: inherit;
  }



.social{
    border-radius: 50%;
    color:white !important;
}
.block-5 ul li:before{
    color:white !important;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #e8e6e657;
    color:black;
}

.social:hover{
    background: white;
}

.facebook{
    background: #3b5998;
}

.facebook:hover{
    color: #3b5998 !important;
}

.google{
    background: #DB4437;
}

.google:hover{
    color: #DB4437 !important;
}


.twitter{
    background: #1DA1F2;
}

.twitter:hover{
    color: #1DA1F2 !important;
}

.text-bold{
    font-weight: bold;
}

/* text color */
.text-white{
    color:white !important;
}

/* Brand text color */
.ds-color{
    color: #0897FF;
}
/* end brand text color */

/* end text color */


/* background coloe */

.bg-white{
    background:white;
}

/* end bg color */
/* chnages */

header{
    background: transparent;
    /* position:fixed; */
    width: 100%;
    /* border-bottom:1px solid rgb(1, 30, 51); */
    box-shadow: 1px 1px 1px  rgb(1, 30, 51);
    z-index: 1000;
}

ul.custom-nav li{

    padding: 10px 20px;
    font-size: 15px;
    /* font-weight: bold; */
}
ul.custom-nav li a{
    color:white !important;
}

.ds-bg-color{
    background: #0897FF !important;
}


/* buttons */

.btn-primary{
    color: #0897FF;
    background: white;
    border: white;
}

.btn-primary:hover{
    color: white;
    background: #0897FF;
    border: #0897FF;
}


.btn-inverted-primary{
    color: white;
    background: #0897FF;
    border: #0897FF;
}

.btn-inverted-primary:hover{
    color: #0897FF;
    background: white;
    border: white;
}

.no-padding{
    padding:0;
}

.btn-lg{
    padding: 0.7rem 5rem;
}

/* end buttons */



/* position */
.relative{
    position:relative;
}

.absolute{
    position:absolute;
}




/* end position */


.caption-product{
    bottom: 10px;
    width: 50%;

    text-align: right;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.wish{

    width: 35px;
    height: 35px;
    display: flex;

    text-align: center;
    margin: 3px 0px;
    border:2px solid #eee;
    border-radius: 12px;
    justify-content: flex-end;
    float:right;
}

.wish i{
    margin: auto;
    font-weight: 100;
}

.categories {
    display: none !important;
}
.category-item-md{
    display: block;
    float:left;
    padding: 1rem;
    /* width: 20%; */
    background:white;
    margin:0px !important;
    border-right: 1px solid #ccc;
    border-top:1px solid #ccc;
}
.categories-md{
    display: block;

}

.category-holder:first-child .category-item-md{
    border-top:none;
}

.content{

    width: 238px;
    height: 400px;
    padding: unset;
    /* border:1px solid #eee; */
    background: white;
    margin: 15px 10px;
    /* margin:auto; */
    border-radius:6px;
    position: relative;
}



.product-details-button{
    position: absolute;
    bottom: 0px;
    display:none;
    background: #0DA337;
    border-radius: 0px 0px 5px 5px;
    color:white;
    text-transform: capitalize;
    padding:1vh;

}

.content:hover .product-details-button{
    display:  block ;
}

.content:first-child{
    /* margin-left:0px; */
}

.product-info span{
    display:inline-block;
    font-size: smaller;
}
.retail-color{
    font-size: small;
    text-decoration: line-through;
    color: red;
}


/* display */

.d-flex{
    display:flex;
}




.services{
    margin-top:80px;
}

.service {
    text-align:center;
}

.service i{
    font-size: 50px;
    color: #0897FF;
    padding:7vh;

}

.no-margins{
    margin: unset;
}

.larger{
    font-size:larger;
}

.service p{
    font-size: 24px;
    line-height: 29px;
}

.discount-box{
    padding:2rem;
    color:white;

}
.discount-box h3{

    font-size: 36px;
line-height: 48px;
}

.total-discount{
    padding:2rem;
    font-size: 50px;
line-height: 75px;
    background: inherit;
    /* box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.7) */
}

.auth-switch{
    font-size: 12px;
}

.cursor-pointer{
    cursor:pointer;
}

.auth-form{
    padding:2rem;
    border-radius:12px;
    width: 50%;
}

.category-box{
    /* margin:100px auto; */
}

.category-holder{
    display:flex;
    /* padding:1rem; */
    width:auto;
    margin:0;
    justify-content: center;

    /* border-bottom: 1px solid #efefef; */
    /* border-right: 1px solid #efefef; */



}

.category-holder a{
    display: inline-block;
    /* margin: auto; */
    margin-top: 10px;
}

.category-item-md:hover{
    background: rgb(86, 169, 221);
    color:white;
    transition:.5s;
    cursor:pointer;
    border-right: 1px solid rgb(86, 169, 221);
    border-top:1px solid rgb(86, 169, 221);
    padding-left:30px;
}


.category-item-md:hover  .category-item-md a span{
    padding-left:10px;
}
.category-item{
    margin:auto;
    text-align:Center;
    font-size:15px;
}


.faq p{
    font-size: 15px;
/* line-height: 29px; */
}

.faq div.collapse{
    font-size: 15px;
/* line-height: 29px; */
/* margin-bottom: 4rem; */
}

.list-unstyled li a{
    color:white !important;
}

.block-5 ul li,.site-footer .footer-heading{
    color:white;
}

.image-holder{
    width: 100px;
    height: 50px;
    border: 1px solid #efefef;
    padding: 5px;
    display: inline-block;
    margin: auto;
    overflow: hidden;
}

.content-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    margin: auto 1vh;
}
.image-holder img{

}


.smaller-images{
    padding:1rem 0;
    /* margin:10px; */
    display: flex;
    margin: auto;
    width: 50%
}

.faq-title{
    color:black;margin-bottom:70px;
}





/* fpoter */
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li{
    padding-left:1rem;
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.contact-list,.nav-list li,.pr-xl-4{
    font-size: 12px;
}




/* owl */

.owl-nav{
    width: 100%;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
    padding: 0.5rem !important;
}

.owl-prev,.owl-next{
    font-size: 25px !important;
    color: #0897FF !important;

}


.hiw-description{
    width: 65%;
}
