
/* media quries for order */
@media (max-width: 576px){
    .order-xs-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }
    .navbar{
        background: #0897ff !important;
        transition: 1.5s;
    }
    .categories{
        display: block !important;
    }
    .owl-carousel .owl-item img{
        display: block !important;
        margin: auto;
    }

    .kw{
        width: 75% !important;
        padding: unset
    }



    .content{
        /* margin: 15px 10px; */
        margin:auto 2px;
    }

    .hiw-description{
        width: 100%;
    }
    .hiw-description  h2{
        font-size: 25px;
    }

    .hiw-description  p{
        font-size: small !important;
    }



    .site-blocks-cover h1{
        font-size: 25px;
    }
    .auth-form{
        width:100%;
    }
    .categories-md{
        display: none;
    }
    .category-holder{
        padding: 1rem;
        background:white;
        border-right: 2px solid #efefef;
        border-bottom: 2px solid #efefef;
    }



    .banner-title-box{
        padding-top: unset !important;
    }
}


@media (min-width: 576px) and (max-width: 767px){
    .order-xs-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .categories {
        display: none !important;
    }
    .categories-md{
        display: block;
    }
    .kw{
        width: 50% !important;
    }

    .auth-form{
        width:75%;
    }

    .hiw-description{
        width: 100%;
    }
    .hiw-description  h2{
        font-size: 25px;
    }

    .hiw-description  p{
        font-size: small !important;
    }
}
